.container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  z-index: 100;
  background-color: rgb(39, 240, 39);
  color: white;
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 3px;
  opacity: 0.75;
  display: flex;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
  padding-right: 5px;
}
